
<app-navbar></app-navbar>


<section class="section-intro bg-secondary text-white text-center">
  <div class="container d-flex flex-column" style="min-height:50vh;">

    <!--<div class="row mt-auto">-->
      <!--<div class="col-lg-8 col-sm-12 text-center mx-auto">-->
        <!--<h1 class="display-4 mb-3">Marketplace platform</h1>-->
        <!--<p class="lead mb-5">Cempus amet donec, egestas pulvinar amet semper accusamus commod</p>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="col-lg-9 col-md-8 col-sm-12 mx-auto text-center">-->
        <!--<form class="form-noborder">-->
          <!--<div class="form-row mb-5">-->
            <!--<div class="col-lg-6 col-sm-12">-->
              <!--<input class="form-control form-control-lg" placeholder="Search keyword" type="text">-->
            <!--</div>-->
            <!--<div class="col-lg-3 col-sm-12">-->
              <!--<select class="custom-select form-control-lg">-->
                <!--<option> All category </option>-->
                <!--<option> Category name </option>-->
                <!--<option> Category name </option>-->
                <!--<option> Category name </option>-->
              <!--</select>-->
            <!--</div>-->
            <!--<div class="col-lg-3 col-sm-12">-->
              <!--<button class="btn btn-warning btn-block btn-lg" type="submit">Search</button>-->
            <!--</div>-->
          <!--</div>-->
        <!--</form>-->
        <!--<p class="small">Cempus amet donec, egestas pulvinar amet semper accusamus commod</p>-->
        <!--<ul class="list-inline my-5">-->
          <!--<li class="list-inline-item">-->
            <!--<a class="h4 text-light p-2" href="#">-->
              <!--<i class="fab fa-twitter"></i>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="list-inline-item">-->
            <!--<a class="h4 text-light p-2" href="#">-->
              <!--<i class="fab fa-facebook"></i>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="list-inline-item">-->
            <!--<a class="h4 text-light p-2" href="#">-->
              <!--<i class="fab fa-dribbble"></i>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="list-inline-item">-->
            <!--<a class="h4 text-light p-2" href="#">-->
              <!--<i class="fab fa-instagram"></i>-->
            <!--</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div> &lt;!&ndash; col.// &ndash;&gt;-->
    <!--</div> &lt;!&ndash; row.// &ndash;&gt;-->

  </div>
</section>

